<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/style.css">
        <title>[AD] plugged.in</title>
    </head>

    <body>
        <header>
            <h1>You are now [plugged.in] 🔌 </h1>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login</a></li>
                        {{#if loggedIn}}
                            <li><a href="/dashboard">Dashboard</a></li>
                            <li><a href="/logout">Logout</a></li>
                        {{/if}}
                    </ul>
                </nav>
        </header>


        {{{body}}}


        <footer>
            <b>[plugged.in]</b> © 2023
        </footer>

        <script src="/public/javascript/comment.js" defer></script>
        <script src="/public/javascript/logout.js"></script>

    </body>

</html>