<form action="/api/users/login" method="POST">
    <h1>Log In:</h1>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <br>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <div>
        <button type="submit">Log In</button>
    </div>

    <div>
        <p>Don't have an account? <a href="/signup">Sign up instead</a></p>
    </div>
    
</form>

<script src="/public/javascript/login.js"></script>