<h1 class="centered">Sign Up:</h1>

<form class="signup-form" action="/api/users/signup" method="POST">

    <div>
        <label for="username">Username:</label>
        <input type="text" id="user_id" name="username" required>
    </div>
    <br>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <div>
        <button type="submit">Sign Up</button>
    </div>

    <div>
        <p>Already have an account? <a href="/login"> Login</a></p>
    </div>

</form>

<script src="/public/javascript/signup.js"></script>